<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Default Home Page</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h2>Default Home Page</h2>
		<p>This is the default home page for {{ ansible_hostname }}</p>
	</body>
</html>
